.todo-container {
    width: 22%;
    height: 100px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
}

.title{
    font-size: 1rem;
}

.container{
    width: 100%;
    display: flex;
    margin:auto;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    padding: 10px;
}

.complete{
    color: #000;
    background-color: #0fc561;
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 10px;
}

.reset{
    color: #000;
  background-color: #e71c1ca1;
  padding: 5px 10px;
  font-size: 1rem;
  border: 2px solid #000000;
  border-radius: 10px;
}